/* import Materialize */
$roboto-font-path: "/fonts/";
$icons-font-path: "/fonts/";

$primary-color: #F44336 /*color("red", "base")*/;
$secondary-color: #3949ab /*color("indigo", "darken-1")*/;

@import "materialize/sass/materialize";

/* custom styles */